<!DOCTYPE html>
<html th:replace="~{layout/template :: layout(~{::title},~{::body})}" xmlns:th="http://www.thymeleaf.org">

<head>
    <!--/* ページタイトルを記入 */-->
    <title>[[${pageTitle}]]</title>
</head>

<body>

    <section class="content-header">
        <div class="container"> <!--/* -fluidを外すと横幅が狭くなる */-->
            <div class="row">
                <div class="col-18 mb-3">
                    <!--/* ページタイトルを記入 */-->
                    <h4>[[${pageTitle}]]</h4>
                </div>
                <div class="col-18 text-right">
                    <!--/* ページタイトル右の余白 */-->
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="container">
            <div th:replace="~{fragments/message-panel :: message-panel}"></div>
            <!--/* ここより下にメインコンテンツを記入 */-->
            <form autocomplete="off" enctype="multipart/form-data" method="post" th:action
                th:object="${organizationForm}"
                th:with="id= ${organizationBean != null} ? ${organizationBean.organizationId} : 0">

                <!--/* EnterキーによるPOSTを無効化 */-->
                <input disabled style="display:none" type="submit" />

                <!--/* 隠しフィールド */-->
                <input th:field="*{version}" type="hidden" />

                <!--/* button(上部) */-->
                <div th:replace="~{fragments/button-area :: m(${id})}"></div>
                <hr>

                <!--/* Input */-->

                <div class="row">
                    <div class="col-18">
                        <div
                            th:replace="~{fragments/field::input-integer('organizationId', '部署ID', 'organizationBean.organizationId', '')}">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-18">
                        <div th:replace="~{fragments/field::input('groupName', '部署名', 'organizationBean.groupName', '')}">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-18">
                        <div th:replace="~{fragments/field::input-integer('parentId', '親部署ID', 'organizationBean.parentId', '')}">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-18">
                        <div
                            th:replace="~{fragments/field::input('directorId', '部門長ID', 'organizationBean.directorId', '')}">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-18">
                        <div
                              th:replace="~{fragments/field::input('status', 'ステータス', 'organizationBean.statusLabel', '')}">
                        </div>
                    </div>
                </div>


                <!--/* button(下部) */-->
                <br>
                <hr>
                <div th:replace="~{fragments/button-area :: m(${id})}"></div>
            </form>

        </div>
    </section>

</body>

</html>