<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>入力フィールドの部品</title>
</head>
<body>

<div class="th-field th-field-input mt-3" th:fragment="input(field_id, label, value, placeholder)">
    <div th:replace="~{fragments/label :: m(${field_id}, ${label})}"></div>
    <div th:replace="~{fragments/input-text :: m(${field_id}, ${label}, ${value}, ${placeholder})}"></div>
    <div th:replace="~{fragments/hidden :: m(${field_id})}"></div>
    <div th:replace="~{fragments/view-text :: m(${field_id}, ${label}, ${value}, ${placeholder})}"></div>
</div>

<div class="th-field th-field-password mt-3" th:fragment="input-password(field_id, label, value, placeholder)">
    <div th:replace="~{fragments/label :: m(${field_id}, ${label})}"></div>
    <div th:replace="~{fragments/input-password :: m(${field_id}, ${label}, ${value}, ${placeholder})}"></div>
</div>

<div class="th-field th-field-input-integer mt-3" th:fragment="input-integer(field_id, label, value, placeholder)">
    <div th:replace="~{fragments/label :: m(${field_id}, ${label})}"></div>
    <div th:replace="~{fragments/input-text :: m(${field_id}, ${label}, ${value}, ${placeholder})}"></div>
    <div th:replace="~{fragments/hidden :: m(${field_id})}"></div>
    <div th:replace="~{fragments/view-integer :: m(${field_id}, ${label}, ${value}, ${placeholder})}"></div>
</div>

<div class="th-field th-field-input-decimal mt-3" th:fragment="input-decimal(field_id, label, value, placeholder)">
    <div th:replace="~{fragments/label :: m(${field_id}, ${label})}"></div>
    <div th:replace="~{fragments/input-text :: m(${field_id}, ${label}, ${value}, ${placeholder})}"></div>
    <div th:replace="~{fragments/hidden :: m(${field_id})}"></div>
    <div th:replace="~{fragments/view-decimal :: m(${field_id}, ${label}, ${value}, ${placeholder})}"></div>
</div>

<div class="th-field th-field-radio mt-3" th:fragment="radio(field_id, label, value, placeholder, items)">
    <div th:replace="~{fragments/label :: m(${field_id}, ${label})}"></div>
    <div th:replace="~{fragments/input-radio :: m(${field_id}, ${label}, ${value}, ${placeholder}, ${items})}"></div>
    <div th:replace="~{fragments/hidden :: m(${field_id})}"></div>
    <div th:replace="~{fragments/view-radio :: m(${field_id}, ${label}, ${value}, ${placeholder}, ${items})}"></div>
</div>

<div class="th-field th-field-checkbox mt-3" th:fragment="checkbox(field_id, label, value, placeholder, items)">
    <div th:replace="~{fragments/label :: m(${field_id}, ${label})}"></div>
    <div th:replace="~{fragments/input-checkbox :: m(${field_id}, ${label}, ${value}, ${placeholder}, ${items})}"></div>
    <div th:replace="~{fragments/hidden :: m(${field_id})}"></div>
    <div th:replace="~{fragments/view-checkbox :: m(${field_id}, ${label}, ${value}, ${placeholder}, ${items})}"></div>
</div>

<div class="th-field th-field-checkbox-inline mt-3"
     th:fragment="checkbox-inline(field_id, label, value, placeholder, items)">
    <!--/* <div th:replace="~{fragments/label :: m(${field_id}, ${label})}"></div> */-->
    <div th:replace="~{fragments/input-checkbox-inline :: m(${field_id}, ${label}, ${value}, ${placeholder}, ${items})}"></div>
    <div th:replace="~{fragments/hidden :: m(${field_id})}"></div>
    <div th:replace="~{fragments/view-checkbox :: m(${field_id}, ${label}, ${value}, ${placeholder}, ${items})}"></div>
</div>

<div class="th-field th-field-textarea mt-3" th:fragment="textarea(field_id, label, value, placeholder, rows)">
    <div th:replace="~{fragments/label :: m(${field_id}, ${label})}"></div>
    <div th:replace="~{fragments/input-textarea :: m(${field_id}, ${label}, ${value}, ${placeholder}, ${rows})}"></div>
    <div th:replace="~{fragments/hidden :: m(${field_id})}"></div>
    <div th:replace="~{fragments/view-textarea :: m(${field_id}, ${label}, ${value}, ${placeholder})}"></div>
</div>

<div class="th-field th-field-summernote mt-3" th:fragment="summernote(field_id, label, value, placeholder, rows)">
    <div th:replace="~{fragments/label :: m(${field_id}, ${label})}"></div>
    <div th:replace="~{fragments/input-summernote :: m(${field_id}, ${label}, ${value}, ${placeholder}, ${rows})}"></div>
    <div th:replace="~{fragments/hidden :: m(${field_id})}"></div>
    <div th:replace="~{fragments/view-textarea :: m(${field_id}, ${label}, ${value}, ${placeholder})}"></div>
</div>

<div class="th-field th-field-date mt-3" th:fragment="date(field_id, label, value, placeholder)">
    <div th:replace="~{fragments/label :: m(${field_id}, ${label})}"></div>
    <div th:replace="~{fragments/input-date :: m(${field_id}, ${label}, ${value}, ${placeholder})}"></div>
    <div th:replace="~{fragments/hidden :: m(${field_id})}"></div>
    <div th:replace="~{fragments/view-date :: m(${field_id}, ${label}, ${value}, ${placeholder})}"></div>
</div>

<div class="th-field th-field-datetime mt-3" th:fragment="datetime(field_id, label, value, placeholder)">
    <div th:replace="~{fragments/label :: m(${field_id}, ${label})}"></div>
    <div th:replace="~{fragments/input-datetime :: m(${field_id}, ${label}, ${value}, ${placeholder})}"></div>
    <div th:replace="~{fragments/hidden :: m(${field_id})}"></div>
    <div th:replace="~{fragments/view-datetime :: m(${field_id}, ${label}, ${value}, ${placeholder})}"></div>
</div>

<div class="th-field th-field-select mt-3" th:fragment="select(field_id, label, value, placeholder, items)">
    <div th:replace="~{fragments/label :: m(${field_id}, ${label})}"></div>
    <div th:replace="~{fragments/input-select :: m(${field_id}, ${label}, ${value}, ${placeholder}, ${items})}"></div>
    <div th:replace="~{fragments/hidden :: m(${field_id})}"></div>
    <div th:replace="~{fragments/view-select :: m(${field_id}, ${label}, ${value}, ${placeholder}, ${items})}"></div>
</div>

<div class="th-field th-field-select-multi mt-3" th:fragment="select-multi(field_id, label, value, placeholder, items)">
    <div th:replace="~{fragments/label :: m(${field_id}, ${label})}"></div>
    <div th:replace="~{fragments/input-select-multi :: m(${field_id}, ${label}, ${value}, ${placeholder}, ${items})}"></div>
    <div th:replace="~{fragments/hidden :: m(${field_id})}"></div>
    <div th:replace="~{fragments/view-select-multi :: m(${field_id}, ${label}, ${value}, ${placeholder}, ${items})}"></div>
</div>

<div class="th-field th-field-select-dialog mt-3" th:fragment="select-dialog(field_id, label, value, placeholder, items)">
    <div th:replace="~{fragments/label :: m(${field_id}, ${label})}"></div>
    <div th:replace="~{fragments/input-select-dialog :: m(${field_id}, ${label}, ${value}, ${placeholder}, ${items})}"></div>
    <div th:replace="~{fragments/hidden :: m(${field_id})}"></div>
    <div th:replace="~{fragments/view-select :: m(${field_id}, ${label}, ${value}, ${placeholder}, ${items})}"></div>
</div>

<div class="th-field th-field-select2 mt-3" th:fragment="select2(field_id, label, value, placeholder, items)">
    <div th:replace="~{fragments/label :: m(${field_id}, ${label})}"></div>
    <div th:replace="~{fragments/input-select2 :: m(${field_id}, ${label}, ${value}, ${placeholder}, ${items})}"></div>
    <div th:replace="~{fragments/hidden :: m(${field_id})}"></div>
    <div th:replace="~{fragments/view-select :: m(${field_id}, ${label}, ${value}, ${placeholder}, ${items})}"></div>
</div>

<div class="th-field th-field-select2-multi mt-3" th:fragment="select2-multi(field_id, label, value, placeholder, items)">
    <div th:replace="~{fragments/label :: m(${field_id}, ${label})}"></div>
    <div th:replace="~{fragments/input-select2-multi :: m(${field_id}, ${label}, ${value}, ${placeholder}, ${items})}"></div>
    <div th:replace="~{fragments/hidden :: m(${field_id})}"></div>
    <div th:replace="~{fragments/view-select-multi :: m(${field_id}, ${label}, ${value}, ${placeholder}, ${items})}"></div>
</div>

<div class="th-field th-field-select2-tags mt-3" th:fragment="select2-tags(field_id, label, value, placeholder, items)">
    <div th:replace="~{fragments/label :: m(${field_id}, ${label})}"></div>
    <div th:replace="~{fragments/input-select2-tags :: m(${field_id}, ${label}, ${value}, ${placeholder}, ${items})}"></div>
    <div th:replace="~{fragments/hidden :: m(${field_id})}"></div>
    <div th:replace="~{fragments/view-select :: m(${field_id}, ${label}, ${value}, ${placeholder}, ${items})}"></div>
</div>

<div class="th-field th-field-select2-tags-multi mt-3"
     th:fragment="select2-tags-multi(field_id, label, value, placeholder, items)">
    <div th:replace="~{fragments/label :: m(${field_id}, ${label})}"></div>
    <div th:replace="~{fragments/input-select2-tags-multi :: m(${field_id}, ${label}, ${value}, ${placeholder}, ${items})}"></div>
    <div th:replace="~{fragments/hidden :: m(${field_id})}"></div>
    <div th:replace="~{fragments/view-select-multi :: m(${field_id}, ${label}, ${value}, ${placeholder}, ${items})}"></div>
</div>

<div class="th-field th-field-input-combobox mt-3" th:fragment="input-combobox(field_id, label, value, placeholder, items)">
    <div th:replace="~{fragments/label :: m(${field_id}, ${label})}"></div>
    <div th:replace="~{fragments/input-combobox :: m(${field_id}, ${label}, ${value}, ${placeholder}, ${items})}"></div>
    <div th:replace="~{fragments/hidden :: m(${field_id})}"></div>
    <div th:replace="~{fragments/view-text :: m(${field_id}, ${label}, ${value}, ${placeholder})}"></div>
</div>

<div class="th-field th-field-file mt-3" th:fragment="file(field_id, label, value, data_file_type)">
    <div th:replace="~{fragments/label :: m(${field_id}, ${label})}"></div>
    <div th:replace="~{fragments/input-file :: m(${field_id}, ${data_file_type})}"></div>
    <div th:replace="~{fragments/hidden :: m(${field_id})}"></div>
    <div th:replace="~{fragments/view-file :: m(${field_id}, ${value})}"></div>
</div>

</body>
</html>